<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\Library.Web.Mvc.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" />
    <rewrite>
        <rules>
            <rule name="Redirect to https" stopProcessing="true">
                <match url="(.*)" />
                <conditions>
                    <add input="{HTTPS}" pattern="^OFF$" />
                    <add input="{HTTPS_HOST}" pattern="^(localhost)" negate="true" />
                </conditions>
                <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
            </rule>
        </rules>
    </rewrite>
	<security>
		<requestFiltering>
			<requestLimits maxAllowedContentLength="314572800" />
			<verbs>
				<add verb="HEAD" allowed="true" />
				<add verb="PUT" allowed="true" />
				<add verb="POST" allowed="true" />
				<add verb="DELETE" allowed="true" />
				<add verb="GET" allowed="true" />
			</verbs>
		</requestFiltering>
	</security>
  </system.webServer>
</configuration>
