@page
@using Abp.Application.Services.Dto
@using Library.Web.Startup
@using Library.BookManage
@using Library.BookManage.Dto

@inject IBookAppService BookAppService

@{
    ViewBag.CurrentPageName = PageNames.BookCopys;
}

@functions
{

    public BookDto Book { get; set; }

    public GetCopysOutput Copys { get; set; }

    public async Task OnGetAsync(long bookId)
    {
        Copys = await BookAppService.GetCopys(new GetCopysInput
        {
            BookId = bookId
        });
        Book = await BookAppService.Get(new EntityDto<long>(bookId));
    }
}

@section scripts
{
    <script type="text/javascript">
       $(function() {
           $('.delete-copy').click(function() {
               var id = $(this).attr('data-copy-id');
               abp.services.app.book.deleteCopy({
                   copyId: id
               }).then(function() {
                   location.reload();
               });
           });

           $("#table").DataTable({
               responsive: true,
               columns: [
                   null,
                   { orderable: false, searchable: false }
               ]
           });
       }) 
    </script>
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Copy List of <i id="bookName">@Book.Title</i> 
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li>
                        <a href="/BookManage" class="btn btn-danger">
                            Back
                        </a>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table" id="table">
                    <thead>
                        <tr>
                            <th>copyID</th>
                            <th>Delete</th>
                        </tr>
                    </thead>

                    <tbody>
                    @foreach (var item in Copys.Items)
                    {
                        <tr>
                            <td>@item</td>
                            <td>
                                <button class="btn btn-primary waves-effect delete-copy"
                                             data-copy-id="@item">Delete</button>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
