@page

@using Abp.Application.Services.Dto
@using Library.BookManage
@using Library.BookManage.Dto
@using Library.Sessions
@using Library.Web.Startup

@inject ISessionAppService SessionAppService
@inject IBookAppService BookAppService

@{
    ViewBag.CurrentPageName = PageNames.BookManage;
}

@functions
{

    public async Task<IActionResult> OnPostAsync(string title, string description)
    {
        await BookAppService.Create(new BookDto()
        {
            Title = title,
            Description = description
        });

        return new RedirectToRouteResult(null);
    }

}

<div>
    <div class="card">

        <div class="header">
            <h2>Hello World!</h2>
        </div>

        <div class="body">

            <h3>Get Data From Application Layer:</h3>
            @{ var currentInfo = await Model.SessionAppService.GetCurrentLoginInformations(); }
            <p>
                <h4>User Name:</h4> @currentInfo.User.Name</p>

            <h3>Current Books:</h3>
            @{
                var books = await Model.BookAppService.GetAll(new PagedAndSortedResultRequestDto());
            }
            <ul>
                @foreach (var item in books.Items)
                {
                    <li>
                        <h4>@item.Title</h4>
                        <p>@item.Description</p>
                    </li>
                }
            </ul>

            <h3>Add Books:</h3>
            <div>
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <form method="POST" class="form-validation" role="form">
                            <label>Title</label>
                            <div class="form-group from-float">
                                <div class="form-line">
                                    <input type="text" placeholder="Enter book title here..." name="title" class="form-control" required/>
                                </div>
                            </div>
                            <label>Description</label>
                            <div class="form-group from-float">
                                <div class="form-line">
                                    <input type="text" placeholder="Enter some messages which can describe the book" name="description" class="form-control" required/>
                                </div>
                            </div>
                            <br/>
                            <button type="submit" class="btn btn-primary waves-effect">Submit</button>
                            @Html.AntiForgeryToken()
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>