@page
@using System.Collections
@using Library.Web.Startup
@model Library.Web.Pages.BookManage.IndexModel
@{
    ViewBag.CurrentPageName = PageNames.BookManage;
}

<h1>Hello World!</h1>
<ul>
    @foreach (var item in ViewData["List"] as IEnumerable<string>)
    {
        <li>@item</li>
    }
</ul>

<h2>test1:</h2>
<ul>
    @foreach (var item in Model.List2)
    {
        <li>@item</li>
    }
</ul>

<h2>Get Data From Application Layer:</h2>
<p><h3>User Name:</h3> @Model.CurrentLoginInformations.User.Name</p>