@page

@using Abp.Application.Services.Dto
@using Abp.Notifications
@using Library.Web.Startup
@using Library.LibraryService.Dto;
@using Library.LibraryService;
@using Library.Web.Startup;


@inject ILibraryAppService LibraryAppService
@inject ILibraryManageAppService LibraryManageAppService
@{
    ViewBag.CurrentPageName = PageNames.BorrowBook;
}
@functions
{

        public async Task<IActionResult> OnPostAsync(string userid, long copyid)
        {

            var bookInput = new BorrowBookInput()
            {
                UserNameOrEmail = userid,
                CopyId = copyid
            };
            await LibraryManageAppService.BorrowBook(bookInput);
            return new RedirectToRouteResult(null);
        }
}

@section scripts
{ 
    <script src="~/view-resources/Pages/BorrowBook/Index.js"></script>
}

<!--
<script>
    window.onload=function(){
        var oSubmit = document.getElementById("borrow");
        var oCopyid = document.getElementById("copyid");
        var oUserid = document.getElementById("userid");

        var user_id = oUserid.value;
        var copy_id = oCopyid.value;

        /*oSubmit.onclick=function(){
            if (true) { alert("Borrow successfully"); }
            else if (0) { alert("You can borrow up to 2 books."); }
            else if (0) { alert("The reader have fine not payed!");}

        }*/
    };
</script>-->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="block-header">
            <h1><b>BorrowBook</b></h1>
            <small>welcome to borrow the book</small>
        </div>
        <div class="card">
            <div class="body table-responsive">
                <form id="sign_in" method="POST">
                    @Html.AntiForgeryToken()
                    <div class="msg"><h3>please scan the book's copyid</h3></div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">book</i>
                            </span>
                            <div class="form-line">
                                <input id="copyid" type="text" class="form-control" name="copyid" placeholder="copyid" required autofocus value="">
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                    <div class="input-group">
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                            <div class="card" id="copy-info">
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">person</i>
                            </span>
                            <div class="form-line">
                                <input id="userid" type="text" class="form-control" name="userid" placeholder="userid or email" required value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <div class="card" id="reader-info">
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <button id="borrow" class="btn btn-block bg-pink waves-effect center-block" type="submit">Borrow</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>