@using Library.Web.Startup
@{
    ViewBag.CurrentPageName = PageNames.Home; //The menu item will be active for this page.
}
@section styles {
    <link href="~/lib/morris.js/morris.css" rel="stylesheet" asp-append-version="true" />
}
@section scripts
    {
    <environment names="Development">
        <script src="~/lib/jquery-countTo/jquery.countTo.js" asp-append-version="true"></script>
        <script src="~/lib/raphael/raphael.js" asp-append-version="true"></script>
        <script src="~/lib/morris.js/morris.js" asp-append-version="true"></script>
        <script src="~/lib/chart.js/dist/Chart.bundle.js" asp-append-version="true"></script>
        <script src="~/lib/Flot/jquery.flot.js" asp-append-version="true"></script>
        <script src="~/lib/Flot/jquery.flot.resize.js" asp-append-version="true"></script>
        <script src="~/lib/Flot/jquery.flot.pie.js" asp-append-version="true"></script>
        <script src="~/lib/Flot/jquery.flot.categories.js" asp-append-version="true"></script>
        <script src="~/lib/Flot/jquery.flot.time.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-sparkline/dist/jquery.sparkline.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/Home/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/_Bundles/home-index.min.js" asp-append-version="true"></script>
    </environment>
}
<div class="block-header">
    <h1>Welcom To Our Library</h1>
</div>
<div class="container-fluid">
    <div class="block-header">
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Always reading.
                        <small>Reading is the art of our life</small>
                    </h2>
                </div>
                <div class="body">
                    <img src="~/images/HomePageImage/hh.jpg" class="js-animating-object img-responsive">
                    <div class="demo-image-copyright">
                        This image taken from Printest.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Ideal book, the key to wisdom
                    </h2>
                </div>
                <div class="body">
                    <blockquote class="m-b-25">
                        <p>Reading is full of people, thinking deep, conversation makes people sober. </p>
                    </blockquote>
                    <blockquote>
                        <p>Read more books, the face of natural change. Reading, and can not give you the value of the fundamental change, but the same face, because the heart of the scholar calm, firm, calm and increasingly appear more peaceful and valuable. Reading to bring people's blessing, than a firm and not erratic eyes, a strong and more tolerant heart.</p>
                        <footer><cite title="Source Title">More reading，more powerful</cite> </footer>
                    </blockquote>
                    <blockquote class="blockquote-reverse">
                        <p>The knowledge in the book always gives me some enlightenment, finding ways and means of overcoming difficulties, giving me the courage and strength to rule out setbacks, and the so-called "friend in need".</p>
                        <footer><cite title="Source Title">Draw strength from books</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Reading — art of life
                    </h2>

                </div>
                <div class="body">
                    I like to take a cup of tea on a sunny afternoon, and pick up a book in the light mist, the tea fragrance, the smell of the book, repeated chewing, savoring every word, every word... The sun gently and gently drily, through the skin of a silk into the blood. With the rise and fall of the text, my heart is warm and warm. The sun made my outline golden, mixed with this lazy time, and became a memory.

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Be a better self

                    </h2>

                </div>
                <div class="body">
                    Read or travel, body and soul, must be on the road. Travel is a reading of the self. Reading is a journey of self. Reading is the way to find yourself from the bottom of your heart. Travel is a way of meeting yourself from the outside. In the same way, they can lead to self-reflection, and then find the true self and discover what they want to be.

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        In the book, on the road
                    </h2>

                </div>
                <div class="body">
                    To walk in search of the poetry that is blown away by the wind; Poetry is the hometown of the people who walked in the past. Walking between words, seeing in words, since then, poetic inhabiting, leisurely and carefree, has not changed, unwilling to change. Seek knowledge in words, and find comfort in the demands of your soul.

                </div>
            </div>
        </div>
    </div>
</div>
