@page

@using Abp.Application.Services.Dto
@using Abp.Notifications
@using Library.Web.Startup
@using Library.LibraryService.Dto;
@using Library.LibraryService;
@using Library.Web.Startup;


@inject ILibraryAppService LibraryAppService
@inject ILibraryManageAppService LibraryManageAppService
@{
    ViewBag.CurrentPageName = PageNames.AnnounceMessage;
}

@functions
{
    public async Task<IActionResult> OnPostAsync(string content,string date,string name)
    {
        await LibraryManageAppService.PublishNotification(new PublishNotificationInput()
        {
            Content = content
        });
        return new RedirectToRouteResult(null);
    }
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Announcement
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Refresh</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <form name="AnnounceNotification" role="form" novalidate class="form-validation" method="post">
                    @Html.AntiForgeryToken()
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Content</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">#</th>
                                <td><input type="text" class="form-control" placeholder="col-sm-3" name="content"></td>
                                <td><button class="btn btn-primary waves-effect release-message" type="submit">release</button></td>
                            </tr>
                        </tbody>
                    </table>
                 </form>
            </div>
        </div>
    </div>
</div>