@page



<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">


            <div class="header">
                <h2>
                    Personal Information
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>Refresh</a></li>
                        </ul>
                    </li>
                </ul>
            </div>


            <div class="body table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Name</th>
                            <td>姓名</td>
                        </tr>
                        <tr>
                            <th scope="row">ID Number</th>
                            <td>学号</td>
                        </tr>
                        <tr>
                            <th scope="row">Department</th>
                            <td>学院</td>
                        </tr>
                        <tr>
                            <th scope="row">Accessible Number</th>
                            <td>20</td>
                        </tr>
                        <tr>
                            <th scope="row">Already borrowed</th>
                            <td>2</td>
                        </tr>


                    </tbody>
                </table>
            </div>




        </div>
    </div>
</div>



<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Borrowed Current
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>Refresh</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table" id="table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Publish</th>
                            <th>ISBN</th>
                            <th>Borrowed Date</th>
                            <th>Date To Return</th>
                            <th>CopyId</th>
                        </tr>
                    </thead>
                    
                </table>

            </div>
        </div>
    </div>
</div> 



<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Borrow  History
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>Refresh</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table" id="table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Publish</th>
                            <th>ISBN</th>
                            <th>Borrowed Date</th>
                            <th>Returned Date</th>
                            <th>CopyId</th>
                        </tr>
                    </thead>

                </table>

            </div>
        </div>
    </div>
</div>
