@using Library.Web.Views.Shared.Components.SideBarUserArea
@model SideBarUserAreaViewModel
<div class="user-info">
    <div class="image">
        <img src="@Url.Content(Model.UserPhotoSrc)" width="48" height="48" alt="User" />
    </div>
    <div class="info-container">
        @if (Model.LoginInformations.User != null)
        {
            <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Html.Raw(Model.GetShownLoginName())</div>
            <div class="email">@Model.LoginInformations.User.EmailAddress</div>
        }
        else
        {
            <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Guest</div>
        }
    </div>
</div>